body {
  background-color: #e7e6d1;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.column {
  width: 33.3%;
}

/* #middle {
  width: 33%;
} */

/*Centering Gif  from: https://www.sitepoint.com/css3-responsive-centered-image/ */
img.ri {
  position: relative;
  max-width: 45%;
  top: 10%;
  left: 10%;
}

img.ri:empty {
  top: 50%;
  left: 50%;

  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.ri {
    max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
    max-height: 90%;
  }
}

/* End of Gif centering */

form {
  padding-top: 1rem;
}

#social {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

#instagram {
  width: 3rem;
  margin-left: 2rem;
}

#slack {
  padding-left: 0.5rem;
  width: 3rem;
}

/* #gif {
  width: 100%;
  text-align: center;
} */

#website {
  text-align: center;
  font-size: 35px;
  margin: 0.75em;
  position: relative;
  top: 30%;
}
input {
  padding: 0.95rem 0.95rem;
  margin-right: 1rem;
  margin-top: 0px;
  display: inline-block;
  font-size: 0.95rem;
}

#signup {
  text-align: center;
}

button {
  display: inline-block;
  border: none;
  padding: 0.95rem 0.95rem;
  text-decoration: none;
  background: #020202;
  color: #ddf1fc;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #da4f27;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

@media screen and (max-width: 375px) {
  .column {
    display: none;
  }

  #middle {
    width: 100%;
  }

  button {
    padding: 0.5rem 0.5rem;
    font-size: 0.85rem;
  }

  input {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .column {
    display: none;
  }

  #middle {
    width: 100%;
  }

  button {
    padding: 0.5rem 0.5rem;
    font-size: 0.85rem;
  }

  input {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .column {
    display: none;
  }

  #middle {
    width: 100%;
  }

  button {
    padding: 0.5rem 0.5rem;
    font-size: 0.85rem;
  }

  input {
    font-size: 0.95rem;
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
  }
}


/* Fixing Safari load issue: https://dev.to/krantikr/browser-specific-css-for-internet-explorer-firefox-chrome-safari-and-edge-394p#safari */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

    img.ri {
        /* position: relative; */
        /* max-width: 45%; */
        /* top: 10%;
        left: 10%; */
        background-color: fuchsia;
      }
      
      img.ri:empty {
        /* top: 50%;
        left: 50%; */
        background-color: fuchsia;
/*       
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); */
      }
}}