body {
 background-color: E7E6D1;   
 font-family: 'Playfair Display', serif;
 font-style: italic;
}

.container {
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row;
  }

.column {
    width: 33.3%;
}

#middle {
    width: 33%;
}
  #social {
    text-align: center;
  }

  .social-size {
      max-width: 2em;
      margin: .5em;
  }

  #gif {
      width: 100%;
      text-align: center;
  }

  #website {
      text-align: center;
      font-family: 'Playfair Display', serif;
  }

  #button {
      /* text-align: center;
      margin: 2em;
      text-decoration: none; */
  }

#singup {
    text-align: center;
}

@media screen and (max-width: 375px) {
    body {
      background-color: red;
    }

    .column {
        display: none;
    }

    #middle {
        width: 100%
    }

  }


  

  @media screen and (max-width: 768px) {
    body {
      background-color: red;
    }

    .column {
        display: none;
    }

    #middle {
        width: 100%
    }

  }